<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AI챗봇 - 프롬프트</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script th:src="@{/js/scripts.js}"></script>
        <script th:src="@{/js/view/common/common.js}"></script>
        <script th:src="@{/js/view/fragments/header.js}"></script>
        <script th:src="@{/js/view/fragments/sidebar.js}"></script>
        <style>
            #loadingOverlay {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.5);
                z-index: 9999;
            }

            .no-resize {
                resize: none;
            }
            #loadingOverlay img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .chart-container {
                display: flex;
                justify-content: center; /* 수평 중앙 정렬 */
                align-items: center;     /* 수직 중앙 정렬 (필요 시) */
                height: 100%;            /* 필요한 만큼 조절 */
                padding: 20px;
            }

            .chart-wrapper {
                text-align: center;
                max-width: 250px;
                width: 100%;
            }

            #productCanvas {
                width: 100% !important;
                height: auto !important;
            }
        </style>
    </head>
    <body class="sb-nav-fixed">
        <div th:replace="fragments/header :: header"></div>
        <div id="layoutSidenav">
            <div th:replace="fragments/sidebar :: sidebar"></div>
            <div id="layoutSidenav_content">
                <main id="contents">
                    <div class="container-fluid px-4">
                        <div class="card m-4">
                            <div class="card-header" style="display: flex; justify-content: space-between;  align-items: center;">
                                <div>
                                    <i class="fas fa-table me-1"></i>
                                    프롬프트
                                </div>
                            </div>

                            <div class="card m-3">
                                <div class="form-group d-flex flex-column align-items-center m-4">
                                    <textarea
                                            class="form-control form-control-sm mb-3"
                                            id="instructionsTextarea"
                                            rows="4"
                                            placeholder="프롬프트를 입력하세요"
                                            style="resize: none; min-height: 450px; max-height: 40vh; width: 60%;"></textarea>
                                    <button class="btn btn-success mx-auto" id="saveButton" type="button" onclick="save()">저장</button>
                                </div>
                            </div>

                            <div class="card-body" style="font-size: 10px">
                                <div class="datatable-container">

                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <div id="loadingOverlay">
                    <img src="/loading.gif" alt="로딩 중...">
                </div>
                <!-- 추가 모달 -->
                <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="addModalLabel">매물등록</h6>
                            </div>
                            <div class="modal-body">
                                <div class="form-group mb-3">
                                    <label>이미지 입력 방법:</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="imageInputType" id="imageUrlOption" value="url" checked>
                                        <label class="form-check-label" for="imageUrlOption">이미지 URL</label>

                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="imageInputType" id="imageFileOption" value="file">
                                        <label class="form-check-label" for="imageFileOption">이미지 파일</label>
                                    </div>
                                </div>
                                <!-- 이미지 URL 입력 -->
                                <div class="form-group mb-3" id="imageUrlGroup">
                                    <label for="addProductImageUrl">이미지 URL:</label>
                                    <input type="text" class="form-control" id="addProductImageUrl">
                                </div>

                                <!-- 이미지 파일 입력 -->
                                <div class="form-group mb-3" id="imageFileGroup" style="display: none;">
                                    <label for="addProductImageFile">이미지 파일:</label>
                                    <input type="file" class="form-control" id="addProductImageFile" accept=".jpg, .jpeg, .png">
                                </div>
                                <label for="addProductRank">노출순위:</label>
                                <input type="text" class="form-control mb-3 number-input" id="addProductRank">

                                <label for="addProductLink">상품명:</label>
                                <input type="text" class="form-control mb-3" id="addProductName">

                                <label for="addProductPrice">판매가(원):</label>
                                <input type="text" class="form-control mb-3 number-input" id="addProductPrice">

                                <label for="addDiscountRate">할인율(%):</label>
                                <input type="text" class="form-control mb-3 number-input" id="addDiscountRate">

                                <label for="addDiscountPrice">할인가(원):</label>
                                <input type="text" class="form-control mb-3 number-input" id="addDiscountPrice">

                                <label for="addProductLink">링크:</label>
                                <input type="text" class="form-control mb-3" id="addProductLink">

                                <label for="addProductMemo">설명:</label>
                                <textarea class="form-control mb-3 no-resize" id="addProductMemo" rows="4"></textarea>

                            </div>

                            <div class="d-flex align-items-center justify-content-center mt-3 mb-3 gap-3">
                                <button type="button" id="addProductButton" class="btn btn-primary">등록</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="updateModalLabel">매물 수정</h6>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" id="updateProductId">

                                    <div class="form-group mb-3">
                                        <label>이미지 입력 방법:</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="updateImageInputType" id="updateImageUrlOption" value="url" checked>
                                            <label class="form-check-label" for="updateImageUrlOption">이미지 URL</label>

                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="updateImageInputType" id="updateImageFileOption" value="file">
                                            <label class="form-check-label" for="updateImageFileOption">이미지 파일</label>
                                        </div>
                                    </div>
                                    <!-- 이미지 URL 입력 -->
                                    <div class="form-group mb-3" id="updateImageUrlGroup">
                                        <label for="updateProductImageUrl">이미지 URL:</label>
                                        <input type="text" class="form-control" id="updateProductImageUrl">
                                    </div>

                                    <!-- 이미지 파일 입력 -->
                                    <div class="form-group mb-3" id="updateImageFileGroup" style="display: none;">
                                        <label for="updateProductImageFile">이미지 파일:</label>
                                        <input type="file" class="form-control" id="updateProductImageFile"  accept=".jpg, .jpeg, .png">
                                    </div>

                                    <label for="updateProductRank">노출순위:</label>
                                    <input type="text" class="form-control mb-3 number-input" id="updateProductRank">

                                    <label for="updateProductName">상품명:</label>
                                    <input type="text" class="form-control mb-3" id="updateProductName">

                                    <label for="updateProductPrice">판매가(원):</label>
                                    <input type="text" class="form-control mb-3 number-input" id="updateProductPrice">

                                    <label for="updateDiscountRate">할인율(%):</label>
                                    <input type="text" class="form-control mb-3 number-input" id="updateDiscountRate">

                                    <label for="updateDiscountPrice">할인가(원):</label>
                                    <input type="text" class="form-control mb-3 number-input" id="updateDiscountPrice">

                                    <label for="updateProductLink">링크:</label>
                                    <input type="text" class="form-control mb-3" id="updateProductLink">

                                    <label for="updateProductMemo">설명:</label>
                                    <textarea class="form-control mb-3 no-resize" id="updateProductMemo" rows="4"></textarea>

                                    <!-- 사용/미사용 토글 -->
<!--                                    <div class="form-check form-switch mb-3">-->
<!--                                        <input class="form-check-input" type="checkbox" id="updateProductActive">-->
<!--                                        <label class="form-check-label" for="updateProductActive" id="updateProductActiveLabel">미사용</label>-->
<!--                                    </div>-->
                                    <div class="mb-3">
                                        <label for="updateProductStatus" class="form-label">상품 상태</label>
                                        <select class="form-select" id="updateProductStatus">
                                            <option value="판매중">판매중</option>
                                            <option value="품절">품절</option>
                                            <option value="판매중지">판매중지</option>
                                        </select>
                                    </div>

                                    <label for="updateProductMemberId">작성자:</label>
                                    <input type="text" class="form-control mb-3" id="updateProductMemberId" readonly>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mt-4 mb-0 gap-3">
                                    <button type="button" id="updateProductButton" class="btn btn-primary">수정</button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <th:block th:replace="fragments/footer :: footer"></th:block>
            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script th:src="@{/js/view/prompt/prompt.js}"></script>
    </body>
</html>
